@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Red+Hat+Text:wght@700&display=swap");

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.container {
  padding: 20px;
  background: #c0e4f4;
  border-radius: 10px;
}
